# Operating Systems
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*~

# IDEs
*.sublime-project
*.sublime-workspace
.idea
*.pydevproject
.project
.metadata
build/
tmp/
tests/clover.xml

# Node
node_modules

# Artifacts
builds/
assets/css/better-search-replace.min.css
assets/js/better-search-replace.min.*
